/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 362px) {
  .presentation h1{
    font-size: 1.7rem;
  }
  .presentation h4{
    font-size: 0.8rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 363px) and (max-width: 600px)  {
  .presentation h1{
    font-size: 2.1rem;
  }
  .presentation h4{
    font-size: 1.1rem;
  }

  .mountain img{
    width: 101%;
    height: 55vh;
  }


}

@media only screen and (min-width: 768px) and (max-width: 992px){
  .mountain img{
    width: 101%;
    height: 55vh;
  }
}


@media only screen and (min-width: 993px) and (max-width: 1000px){
  .mountain img{
    width: 101%;
    height: 55vh;
  }

}

/*
@media only screen and (min-width: 1200px) {

}*/
