/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 362px) {
  .presentation h1{
    font-size: 1.7rem;
  }
  .presentation h4{
    font-size: 0.8rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 363px) and (max-width: 600px)  {
  .presentation h1{
    font-size: 2.1rem;
  }
  .presentation h4{
    font-size: 1.1rem;
  }

  .mountain img{
    width: 101%;
    height: 55vh;
  }

  .p-1{
    right: 60%;
    animation-delay: 1s;
    animation-duration:17s;
  }
  .p-2{
    top: -30%;
    right: -30%;
    animation-delay: 1s;
    animation-duration:17s;
  }
  .p-3{
    top: -40%;
    right: 25%;
    animation-delay: 1s;
    animation-duration:17s;
  }

  .p-4{
    top: -25%;
    right: 80%;
    animation-delay: 1s;
    animation-duration:15s;
  }

  .p-5{
    right: 90%;
    animation-delay: 1s;
    animation-duration:17s;
  }

  @keyframes shooting
{
    from {
      transform: translateX(-100px) translateY(-100px) rotate(-125deg);
      opacity: 1;
    }
    to {
      transform: translateX(300px) translateY(200px) rotate(-125deg);
      opacity: 0;
    }
}


}

@media only screen and (min-width: 768px) and (max-width: 992px){
  .mountain img{
    width: 101%;
    height: 55vh;
  }
}


@media only screen and (min-width: 993px) and (max-width: 1000px){
  .mountain img{
    width: 101%;
    height: 55vh;
  }

}

/*
@media only screen and (min-width: 1200px) {

}*/
