body{
  padding: 0;
  margin: 0;
  background: white;
}


/*FONDO*/
section{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.mountain img{
  position: absolute;
  width:102%;
  height: 60vh;
  bottom: -1vw;
  left: -1vw;
  filter: brightness(0.7);
}

.bg img{
  position: absolute;
  width:100%;
  height: 100%;
  bottom: 0;
  filter: brightness(0.7);
  /*filter: brightness(0.9);*/
}

/*NOMBRE*/
.presentation {
  margin:0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*color: #FFD523;*/
  /*color: #F8A488;*/
}

.presentation h1{
  color: #D5ECC2;
  overflow: hidden;
  margin-top: 1%;
  /*font-family: 'Secular One', sans-serif;*/
  font-family: 'Concert One', cursive;
  /*font-family: 'Philosopher', sans-serif;*/
  font-size: 3.3rem;
  text-align: center;
  animation: reveal_h1 4s;
}

.presentation h4{
  color: #FFFFFF;
  overflow: hidden;
  margin-bottom: 1%;
  font-family: 'Inconsolata', monospace;
  font-size: 2.3rem;
  text-align: left;
  animation: reveal_h4 4s;
}

@keyframes reveal_h1 {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes reveal_h4 {
  0% {opacity:0;}
  100% {opacity:1;}
}


.p{
  display: block;
  width: 170px;
  height: 1px;
  margin: 50px;
  margin-bottom: 160px;
  background-image: linear-gradient(45deg, #ffffff, transparent);
  position: relative;
  animation: shooting 5s linear infinite;
  opacity: 0;
  filter: drop-shadow(0 0 6px #000);
}
.p::before{
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.p-1{
  right: -450%;
  animation-delay: 10s;
  animation-duration:17s;
}
.p-2{
  top: -10%;
  right: -250%;
  animation-duration:14s;
}
.p-3{
  right: 10%;
  animation-delay: 20s;
  animation-duration:10s;
}

.p-4{
  top: -50%;
  right: -100%;
  animation-delay: 20s;
  animation-duration:10s;
}

.p-5{
  top: -70%;
  right: -470%;
  animation-delay: 20s;
  animation-duration:10s;
}

@keyframes shooting
{
    from {
      transform: translateX(-200px) translateY(-200px) rotate(-125deg);
      opacity: 1;
    }
    to {
      transform: translateX(600px) translateY(350px) rotate(-125deg);
      opacity: 0;
    }
}